@import url('https://fonts.googleapis.com');
*{
    margin: 0;
    padding: 0;
    /* background: ; */
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(8px);
    top: 0px;
    z-index: 998;
    left: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}

#navbar .logo img{
    width: 60px;
    height: 50px;
    display: block;
    filter: brightness(0) invert(1);
    margin: 5px;
}

#navbar .logo span{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 8px;
    color: #ff6600;
}

#navbar .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
}

#navbar .menu .menuText{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#navbar .menu span:hover{
    transition: all 0.4s ease-in-out;
    color: black;
}

#navbar .menu .hambugger{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 0px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(40 37 40 / 50%);
    cursor: pointer;
}

#navbar .menu .hambugger span{
    padding: 1px 15px;
    background-color: white;
    margin: 3px 0;
}

.nav{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 280px;
    right: -270px; 
    top: 0;
    overflow-x: hidden; 
    overflow-y: auto; 
    /* background-color:#201f1f; */
    background-color: #201f1fbd;
    backdrop-filter: blur(10px);
    padding: 25px 20px;
}

.nav .initial{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 50px;
}

.nav .initial span{
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    font-size: 1.2rem;
    margin-right: 25px;
}

.nav .initial .close img{
    height: 15px;
    width: 20px;
    cursor: pointer;
}

.nav .nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.nav .nav-list li{
    list-style: none;
    margin: 10px 0;
}

.nav .nav-list li a{
    font-family: 'Montserrat', sans-serif !important;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    list-style: none;
}

.nav .nav-list li a:hover{
    color: rgb(141, 138, 138);
}

.nav .para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.nav .para p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;
    color: rgb(184 178 178);
}

.nav .social-media-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .social-media-content a{
    margin: 0 10px;
}

.nav .social-media-content a img{
    height: 20px;
    width: 20px;
}

.fb{
    height: 27px !important;
    width: 27px !important;
}

#circle{
    padding: 20px;
    height: 60px;
    color: whitesmoke;
    width: 60px;
    background: #00000094;
    backdrop-filter: blur(9px);
    display: inline-block;
    position: relative;
    top: 85%;
    left: 180vh;
    border-radius: 40px;
    position: fixed;
    box-shadow: inset;
    
}


#upline img{
    position: relative;
    top: 0px;
    right: 5px;
}

#home{
    height: 101vh;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#bg{

    

    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.562)),url('../media/img4.png') no-repeat center center/cover;
    color: aqua;
    /*background-position-y: 0px;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 114%;
    z-index: -1;
    /* animation-name: one;
   animation-duration: 4s; */
}
/* @keyframes one {
from {background: url("bg3.jpg");}
to {background: url("bg4.jpg");}
} */


/* #bg img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
} */

/* #home::before{
    content: "";
    background: url('/static/logo3.png')no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115%;
    z-index: -1;
} */

#home .container{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    margin-top: 70px;
    width: 90%;
    flex-direction: column;
    align-items: stretch;
}

#home .home-container{
    display: flex;
    justify-content: center;
    margin-left: 9%;
    flex-direction: column;
    margin-bottom: 2%;
}

#home .home-container h1{
    font-size: 5.5rem;
    font-weight: 600 !important;
    
}

#home .home-container h1, #home .home-container .para{
    color: white;
} 

#home .home-container .line{
    margin-top: 40px;
    background-color: white;
    padding: 1px 30px;
}

#home .home-container .bottom-container{
    display: flex;
}

#home .home-container .bottom-container .paraText{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

#home .home-container .para{
    font-size: 1.8rem;
    margin-top: 13px;
}

#home .nav-container{
    margin-bottom: 2%;
}

#home .nav-container .nav-item{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 18vw;
    height: 80px;
    cursor: pointer;
    margin: 4px 0;
    background-color: rgb(0 0 0 / 32%);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

#home .nav-container .nav-item:hover{
    background-color: transparent; 
    transition: all 0.5s ease-in-out;
}

#home .nav-container .nav-item li{
    color: white;
    list-style: inside;
    list-style-position: outside;
    margin-left: 30px;
}

#home .nav-container .nav-item li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

#home .nav-container .nav-item span{
    color: rgb(153, 148, 148);
    font-size: 1.2rem;
    margin-left: 30px;
}

#home .social-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#home .social-section span{
    
    color: white;
    font-size: 0.9rem;
}

#home .social-section .line{
    margin: 0 8px;
}

#home .social-section .line h2{
    background-color: white;
    padding: 1px 15px;
}

#home .social-section .socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .social-section .socials li{
    list-style: none;
    margin: 0 10px;
}

#home .social-section .socials li a{
    
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
}

#home .social-section .socials li a:hover{
    border-bottom: 1px solid white;
}


#about{
    /* margin-top: 75px; */
    padding-top: 69px;
    padding-bottom: 150px;
    display: flex;
    background: #ffeee2;
    justify-content: center;
    align-items: center;
}

#about .container{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about .container .about-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    padding: 0 40px;
}

#about .container .about-container .line, #services .container .services-container .line{
    display: flex;
    margin-bottom: 20px;
}

#about .container .about-container .line .design , #services .container .services-container .line .design{
    background-color: #ff6a00;
    padding: 1px 1px;
    transform: rotate(25deg);
    margin-right: 10px;
}

#about .container .about-container .line .heading, #services .container .services-container .line .heading{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #ff6a00;
}

#about .container .about-container .heading2, #services .container .services-container .heading2{
    font-family: 'Baskervville', serif !important;
    font-size: 4rem;
    margin-bottom: 40px;
}

#about .container .about-container p, #services .container .services-container p{
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 1.5rem;
    color: rgb(99, 95, 95);
    line-height: 1.5;
}

#about .container .card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#about .container .card-container .card{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 10px 20px;
}

#about .container .card-container .card .title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#about .container .card-container .card .title span{
    padding: 10px 17px;
    color: white;
    border-radius: 50%;
    background-color: #ff7d4c;
    font-size: 1.5rem;
    margin-right: 15px;
}

#about .container .card-container .card .title h2{
    font-family: 'Baskervville', serif  !important;
    margin-left: 15px;
    font-size: 1.7rem;
}

#about .container .card-container .card p{
    font-family: 'Montserrat', sans-serif !important;
    padding-left: 50px;
    font-size: 1.1rem;
    line-height: 1.5;
    border-left: 1px solid gray;
    color: rgb(99, 95, 95);
}

#services{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeee2;
    padding: 130px 130px;
}

#services .container{
    display: flex;
    width: 95vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#services .container .services-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 0 25px;
}

#services .container .card-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    
}

#services .container .card-container .card{
    width: 21vw;
    display: flex;
    background-color: #ebebeb2e;
    backdrop-filter: blur(25px);
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 30px 15px;
    padding: 5px 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

#services .container .card-container .card img{
    /* width: 50px; */
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    

}

#services .container .card-container .card h3{
    font-family: 'Baskervville', serif  !important;
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

#services .container .card-container .card p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.active{
    background-color: #353333 !important;
}

.active2{
    background-color: #353333 !important;
}

#contact{
    /* margin-top: 90px; */
    background-color: #111;
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .container{
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact .container .contact-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 96%;
    padding: 0 40px;
}
#contact .container .contact-container button{
    font-family: ui-monospace;
    font-size: 1.9rem;
    margin-bottom: 40px;
    color: white;
    width: 350px;
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #1111113b;
    border: 2px solid #ff7d4c;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
}

#contact .container .contact-container .line{
    display: flex;
    margin-bottom: 20px;
}

#contact .container .contact-container .line .design{
    background-color: #ff7d4c;
    padding: 1px 1px;
    transform: rotate(25deg);
    margin-right: 10px;
}

#contact .container .contact-container .line .heading{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #ff7d4c;
}

#contact .container .contact-container .heading2{
    font-family: 'Baskervville', serif !important;
    font-size: 2rem;
    margin-bottom: 40px;
    color: white;
}

#contact .container .email-container{
    display: flex;
    flex-direction: column;
    width: 83vw;
    margin-bottom: 80px;
}

#contact .container .email-container .line{
    display: flex;
    margin-left: 25px;
}

#contact .container .email-container .line .design{
    background-color: #ff7d4c;
    padding: 25px 1px;
    transform: rotate(90deg);
    margin-right: 10px;
}

#contact .container .email-container a{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

#contact .container .email-container span{
    color: rgb(95, 89, 89);
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5rem;
}

#contact .container .socials-container{
    display: flex;
    width: 85vw;
}

#contact .container .socials-container .address{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 70px;
}

#contact .container .socials-container .address .line{
    display: flex;
    margin-bottom: 20px;
}

#contact .container .socials-container .address .line .design{
    background-color: #ff7d4c;
    padding: 1px 1px;
    transform: rotate(25deg);
    margin-right: 10px;
}

#contact .container .socials-container .address .line .heading{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #ff7d4c;
}

#contact .container .socials-container .address .heading2{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.6rem;
    margin-bottom: 40px;
    color: rgb(95, 89, 89);
    line-height: 1.5;
    margin-left: 10px;
}

#contact .container .socials-container{
    display: flex;
    align-items: center;
}

#contact .container .socials-container .sites{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 70px;
}

#contact .container .socials-container .sites .line{
    display: flex;
    margin-bottom: 20px;
}

#contact .container .socials-container .sites .line .design{
    background-color: #ff7d4c;
    padding: 1px 1px;
    transform: rotate(25deg);
    margin-right: 10px;
}

#contact .container .socials-container .sites .line .heading{
    font-size: 1.3rem;
    margin-left: 10px;
    color: #ff7d4c;
}

#contact .container .socials-container .sites .links{
    display: flex;
}

#contact .container .socials-container .sites .links a{
    margin: 0 15px;
}

#contact .container .socials-container .sites .links a img{
    width: 27px;
    height: 27px;
}

#contact .container .socials-container .sites .links a .fb{
    height: 32px !important;
    width: 38px !important;
}

#footer{
    padding-top: 50px;
    height: 120px;
    background-color: #111;
    display: flex;
    justify-content: center;
}

#footer span{
    display: flex;
    width: 83vw;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.1rem;
    color: rgb(95, 89, 89);
}

@media (max-width:1000px){
    #home .container{
        justify-content: center;
    }
    #home .home-container{
        margin-left: 0;
    }
    #home .nav-container{
        display: none;
    }
    #works .container .card-container .card{
        width: 34vw;
        margin: 30px 20px;
    }
    #works .container .card-container .card img{
        width: 34vw;
        /* height: 26vh; */
    }
    #contact .container .contact-container .heading2{
        font-size: 3.7rem;
    }
}

@media (max-width:900px){
    #original{
        display: none;
    }
    #responsive{
        display: flex;
    }
    #first{
        display: none;
    }
    #second{
        display: flex;
    }
}

@media (max-width:800px){
    #bg{
        background: linear-gradient(rgba(153, 153, 153, 0),rgba(0, 0, 0, 0.514)),url('../media/img5.png')no-repeat center center/cover;
    }
    #home .home-container h1{
        font-size: 4rem;
    }
    #home .home-container .para{
        font-size: 1.5rem;
    }
    #about .container .about-container .heading2, #services .container .services-container .heading2, #works .container .works-container .heading2{
        font-size: 3.3rem;
    }
    #about .container .about-container p, #services .container .services-container p {
        font-size: 1.3rem;
    }
    #about .container .card-container .card{
        width: 80vw;
    }
    #works .container .card-container .card{
        width: 39vw;
    }
    #works .container .card-container .card img{
        width: 39vw;
    }
    #contact .container .contact-container .heading2{
        font-size: 3.1rem;
    }
    #contact .container .email-container a {
        font-size: 2.2rem;
    }
    #contact .container .email-container span{
        font-size: 1.4rem;
    }
    #contact .container .socials-container .address .heading2{
        font-size: 1.3rem;
    }
}

@media (max-width:700px){
    #home .home-container h1{
        font-size: 3rem;
    }
    #services {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffeee2;
        padding: 130px 130px;
    }
    #home .home-container .bottom-container .paraText{
        width: 370px;
    }
    #home .home-container .para{
        font-size: 1.3rem;
    }
    #about .container .about-container .heading2, #services .container .services-container .heading2, #works .container .works-container .heading2{
        font-size: 2.9rem;
    }
    #about .container .about-container p, #services .container .services-container p {
        font-size: 1.1rem;
    }
    #services .container .card-container .card{
        width: 90vw;
    }
    #works .container .card-container .card{
        width: 70vw;
    }
    #works .container .card-container .card img{
        width: 70vw;
    }
    #works .container .corousel .container2 .corousel-container .info p{
        font-size: 1.1rem;
    }

    #contact .container .contact-container .heading2{
        font-size: 2.7rem;
    }
    #contact .container .email-container a {
        font-size: 1.9rem;
    }
    #contact .container .email-container span{
        font-size: 1.2rem;
    }
    #contact .container .socials-container .address .heading2{
        font-size: 1.1rem;
    }
    #contact .container .socials-container .address{
        margin-right: 50px;
    }
    #contact .container .socials-container .sites{
        margin-left: 50px;
    }
    #footer span{
        font-size: 0.9rem;
    }
    #navbar .logo{
        margin-top: 20px;
    }
    #navbar .menu{
        margin-top: 20px;
    }
}

@media (max-width:600px){
    #navbar .logo span{
        margin-left: 25px;
        font-size: 1.8rem;
    }
    
    #about .container .about-container .heading2, #services .container .services-container .heading2, #works .container .works-container .heading2{
        font-size: 2.5rem;
    }
    #about .container .about-container p, #services .container .services-container p {
        font-size: 1rem;
    }
    #about .container .card-container .card .title h2{
        font-size: 1.5rem;
    }
    #about .container .card-container .card p{
        font-size: 1rem;
    }
    
    #services .container .card-container .card p{
        font-size: 1rem;
    }
    #works .container .card-container .card h3{
        font-size: 1.2rem;
    }
    #works .container .card-container .card span{
        font-size: 1rem;
    }

    #contact .container .contact-container .heading2{
        font-size: 2.4rem;
    }
    #contact .container .email-container a {
        font-size: 1.7rem;
    }
    #contact .container .email-container span{
        font-size: 1rem;
    }
    #contact .container .socials-container .address .heading2{
        font-size: 1rem;
    }
    
}

@media (max-width:500px){
    #home .home-container h1{
        font-size: 2.6rem;
    }
    #home .home-container .para{
        font-size: 1.2rem;
    }

    #navbar .menu .menuText{
        display: none;
    }
    #home .home-container .bottom-container .paraText{
        width: 70vw;
    }
    #home .social-section .line{
        margin: 0 6px;
    }
    #home .social-section .socials li a{
        font-size: 0.8rem;
    }
    #about .container .about-container .heading2, #services .container .services-container .heading2, #works .container .works-container .heading2{
        font-size: 2.3rem;
    }
    #works .container .corousel-heading{
        text-align: center;
    }
    #works .container .corousel .container2 .corousel-container .info p{
        font-size: 1rem;
    }
    #contact .container .contact-container .heading2{
        font-size: 2.2rem;
    }
    #contact .container .email-container a {
        font-size: 1.6rem;
    }
    #contact .container .socials-container{
        flex-direction: column;
        align-items: start;
    }
    #contact .container .socials-container .address{
        margin-right: 0;
        margin-left: 30px;
        width: 55%;
    }
    #contact .container .socials-container .sites{
        margin-left: 30px;
        width: 50%;
    }
    #contact .container .email-container {
        margin-left: 40px;
    }
    #contact .container .socials-container .address .line .heading{
        font-size: 1.1rem;
    }
    #contact .container .socials-container .sites .line .heading{
        font-size: 1.2rem;
    }
}

@media (max-width:400px){
    #home .home-container h1{
        font-size: 2rem;
    }
    #home .social-section span{
        font-size: 0.8rem;
    }
    #home .social-section .line{
        margin: 0 4px;
    }
    #about .container .about-container .heading2, #services .container .services-container .heading2, #works .container .works-container .heading2{
        font-size: 2.1rem;
    }
    #navbar .logo{
        margin-left: 0;
    }

    #upline img{
        position: relative;
        top: 5px;
        right: 0px;
    }
    #circle{
        height: 50px;
        width: 50px;
        background: #00000061;
        backdrop-filter: blur(9px);
        display: inline-block;
        position: fixed;
        top: 703px;
        left: 326px;
        border-radius: 40px;
        color: whitesmoke;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;

        
    }
    #contact .container .contact-container button {
        font-family: ui-monospace;
        font-size: 1.3rem;
        margin-bottom: 1px;
        color: white;
        width: 207px;
        display: block;
        margin-top: 20px;
        padding: 13px 11px;
        background-color: #1111113b;
        border: 2px solid rgb(255 125 76);
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    #about .container .about-container p, #services .container .services-container p {
        font-size: 0.9rem;
    }
    
    #about .container .card-container .card .title span{
        margin-right: 10px;
    }
    #about .container .card-container .card .title h2{
        font-size: 1.4rem;
    }
    #about .container .card-container .card p{
        font-size: 0.9rem;
    }
    
    #services .container .card-container .card p{
        font-size: 0.9rem;
    }
    #services .container .card-container .card{
        margin: 26px 5px;
    }
    #works .container .corousel .container2 .corousel-container .info p{
        font-size: 0.9rem;
    }
    #works .container .corousel .container2 .corousel-container .info .name{
        font-size: 1rem;
    }

    #contact .container .contact-container .heading2{
        font-size: 2.1rem;
    }
    #contact .container .socials-container .sites .links a .fb{
        height: 28px !important;
        width: 34px !important;
    }
    #contact .container .socials-container .sites .links a img {
        height: 22px;
        width: 22px;
    }
    #services {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffeee2;
        padding: 130px 0px;
    }
}

@media (min-height:700px){
    #works .container .card-container .card img{
        height: 170px;
    }
    
}

@media /*,(max-width:400px)*/(max-width:320px){
    #bg{
        background: linear-gradient(rgba(153, 153, 153, 0),rgba(0, 0, 0, 0.514)),url('/media/img5.jpg')no-repeat center center/cover;
        
    }
    #home{
        background-color: rgb(0 0 0 / 13%);
        height: 910px;
    }
    #services {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffeee2;
        padding: 130px 130px;
    }
    
}

@media (min-height:1300px){
    #bg{
        height: 110%;
    }
}

@media (min-height:1350px){
    #bg{
        height: 107%;
    }
}

@media (min-height:1400px){
    #bg{
        height: 103%;
    }
}

/* cards css */
    
    .card-content {
    padding: 20px;
    }

    .card-content h2 {
    font-family: 'Baskervville', serif !important;
    font-size: 24px;
    margin-bottom: 5px;
    
    }

    .card-content h3 {
        
    font-size: 18px;
    margin-bottom: 10px;
    color: #818181;
   
    }

    .card-description {
    font-family: 'Noto Sans', sans-serif !important;
    margin-bottom: 10px;
    
    }

    .show-more {
    font-family: system-ui;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-top: 20px;
    margin: auto;
    padding: 10px 40px;
    background-color: #cfc8c8;
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    }

    .card-content button:hover{
        background-color: rgb(6 6 6 / 92%);
        color: #f1f1f1;
    }
/* card css */
