<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W R L D : Feedback</title>
</head>
<body>

    
    <header>
        <div id="nav" class="nav">
          <div class="initial">
            <span>T H E . W R L D</span>
            <div class="close">
              <img src="../static/media/close.png" alt="Close button" id="closeBtn" />
            </div>
          </div>
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="#feedbackSection">Feedback</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <div class="para">
            <p style="text-align: center;"><strong>Register now to create your own Portfolio website.</strong><br>
              We provide high standard Portfolio website for your business & Employment.</p>
          </div>
          <div class="social-media-content">
            <a href="https://wa.me/9359478605" target="_blank">
              <img src="../static/media/wp.png" alt="Whats app icon" />
            </a>
            <a href="https://www.instagram.com/swapnil_.23/" target="_blank">
              <img src="../static/media/ig.png" alt="Instagram icon" />
            </a>
            <a
              href="https://t.me/+eBVDYgzfoCY3M2Zl"
              target="_blank"
            >
              <img src="../static/media/tg.png" alt="Telegram icon" />
            </a>
          </div>
        </div>
  
        <nav id="navbar">
          <a href="/"><div class="logo" id="logo">
            
            <span style="margin-bottom: 9px;"> <strong> W R L D </strong></span>
          </div>
         </a>
          <div class="menu">
            <span class="menuText" id="menuText">Menu</span>
            <div class="hambugger" id="hambugger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </header>

    <section class="feedbackSection" id="feedbackSection">
        <div class="f-container">
            <h1 class="f-heading1">Your Feedback About</h1>
            <h1 class="f-heading2">Our Website</h1>
            <div class="f-card">
                <form method="POST" action="/form" class="f-form">
                    <input type="text" name="name" class="name" placeholder="Enter your Name" required>
                    <input type="text" name="phone" class="phone" placeholder="Enter your Phone Number" required>
                    <input type="email" name="email" class="email" placeholder="Enter your Email Address" required>
                    <textarea name="feedback" id="Feedback" cols="100" rows="10" placeholder="Enter your Feedback" required></textarea> 
                    <div style="text-align: center;">
                        <input type="submit" value="Submit" class="submit" >
                    </div>  
                </form>
            </div>
        </div>
    </section>


    <footer>
      <section id="contact">
        <div class="container">
          <div class="contact-container">
            <div class="line">
              <h2 class="design"></h2>
              <span class="heading">GET IN TOUCH</span>
            </div>
            <span class="heading2"
              >Get in touch for more information or ask questions via following
              Email & links. <br />
              Let's make your dream a reality in this journey.</span
            >
          </div>
          <div class="email-container">
            <div class="line">
              <h2 class="design"></h2>
            </div>
            <a href="mailto:swap9l999@gmail.com"> swap9l999@gmail.com</a>
            <span>+91 845972XXXX / +91 69420XXXXX</span>
          </div>
          <div class="socials-container">
            <div class="address">
              <div class="line">
                <h2 class="design"></h2>
                <span class="heading">WHERE TO FIND US</span>
              </div>
              <span class="heading2"
                >MH09 aka. Kolhapur, Maharashtra, India</span
              >
            </div>
            <div class="sites">
              <div class="line">
                <h2 class="design"></h2>
                <span class="heading">FOLLOW US</span>
              </div>
              <div class="links">
                <a href="https://wa.me/9359478605" target="_blank">
                  <img src="../static/media/wp.png" alt="Whats app icon" />
                </a>
                <a
                  href="https://www.instagram.com/swapnil_.23/"
                  target="_blank"
                >
                  <img src="../static/media/ig.png" alt="Instagram icon" />
                </a>
                <a
                  href="https://t.me/+eBVDYgzfoCY3M2Zl"
                  target="_blank"
                >
                  <img src="../static/media/tg.png" alt="Telegram icon" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="../static/script.js"></script>
  </body>
</html>


    
