<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homestyle.css">
    
    <title> W R L D</title>
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
</head>

<body>
    <div id="nav" class="nav">
        <div class="initial">
            <span>T H E . W R L D</span>
            <div class="close">
                <img src="../static/media/close.png" alt="Close button" id="closeBtn">
            </div>
        </div>
        <ul class="nav-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/form ">Feedback</a></li>
        </ul>
        <div class="para">
            <p style="text-align: center;"><strong>Register now to create your own Portfolio website.</strong><br>
                We provide high standard Portfolio website for your business & Employment.</p>
        </div>
        <div class="social-media-content">
            <a href="https://wa.me/9359478605" target="_blank">
                <img src="../static/media/wp.png" alt="Whats app icon">
            </a>
            <a href="https://www.instagram.com/swapnil_.23/" target="_blank">
                <img src="../static/media/ig.png" alt="Instagram icon">
            </a>
            <a href="https://t.me/+eBVDYgzfoCY3M2Zl" target="_blank">
                <img src="../static/media/tg.png" alt="Telegram icon">
            </a>
        </div>
    </div>

    <nav id="navbar">
        <div class="logo" id="logo">
            
           <a href="#home" style="text-decoration: none; padding-bottom: 9px; color: white;"> <span style="color: white;">  . W R L D </span></a>
        </div>
        <div class="menu">
            <span class="menuText" id="menuText">Menu</span>
            <div class="hambugger" id="hambugger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
        </div>
        
        
    </nav>

    <section id="home">
        <div id="bg">
            
        </div>
        <div class="container">
            
            <div class="home-container">
                <h1>  P O R T F O L I O .   W R L D </h1>
                <!-- <div class="bottom-container">
                    <div style="margin-bottom: 5px;">
                        <h2 class="line"></h2>
                        <h2 class="line"></h2>
                        <h2 class="line"></h2>
                        
                    </div>
                    <div class="paraText">
                        <span class="para"><strong>C R E A T E  <br>  S H A R E <br>  P O R T F O L I O . . . 
                        </span>
                    </div>
                </div> -->
            </div>

            <div style="display: flex; 
            width: 90%;
            justify-content: space-between;">
            
                <div class="home-container" >
                    <div class="bottom-container">
                        <div style="margin-bottom: 5px;">
                            <h2 class="line"></h2>
                            <h2 class="line"></h2>
                            <h2 class="line"></h2>
                            
                        </div>

                        
                        
                        <div class="paraText">
                            <span class="para"><strong>C R E A T E  <br>  S H A R E <br>  P O R T F O L I O . . . 
                            </span>
                            
                            

                        </div>
                    </div>
                </div>
                <ul class="nav-container">
                
                    <div class="nav-item">
                            <li><a href="/login">User Login</a></li>
                    </div>
                    
                    <div class="nav-item">
                        <li><a href="/#services">What we do</a></li>
                    </div>
                    <div class="nav-item">
                        <li><a href="/#about">Who are we</a></li>
                    </div>
                    <div class="nav-item">
                        <li><a href="/#contact">Get in touch</a></li>
                    </div>
                </u>
            </div>
        </div>
        
        <div class="social-section">
            <span>Follow-Us</span>
            <div class="line">
                <h2 class="line"></h2>
            </div>
            <ul class="socials">
                <li><a href="https://wa.me/9359478605" target="_blank">Whatsapp</a></li>
                <li><a href="https://www.instagram.com/swapnil_.23/" target="_blank">Instagram</a></li>
                <li><a href="https://t.me/+eBVDYgzfoCY3M2Zl" target="_blank">Telegram</a></li>
            </ul>
        </div>

        <a href="#home">
            <div id="circle">
              <div id="upline"><img src="../static/media/up_white.png" width="30px" alt=""></div>
          </div></a>

    </section>

    <section id="services">
        <div class="container">
            <div class="services-container">
                <div class="line">
                    <h2 class="design"></h2>
                    <span class="heading">WHAT WE DO</span>
                </div>
                <span class="heading2">Your Ultimate Profile Guide.  <br> Experience the Ease of creating a portfolio website ASAP </span>
                <p>We provide high standard Portfolio website for your business & Employment. Register now to create your own Portfolio website. </p><br>
                <p>Are you looking for a way to showcase your work online? Do you want to create a portfolio website that reflects your personality and style? If so, you should check out WRLD, the ultimate tool for creating stunning portfolio websites in minutes.</p><br>
                <p>
                WRLD is a website that lets you create a portfolio website by simply filling out a form with your information. You can choose from a variety of templates, customize them with your own colors, fonts, and images, and add your best projects, skills, and achievements. Whether you are a photographer, designer, writer, or any other creative professional, WRLD can help you create a portfolio website that impresses your clients and employers.</p><br>
                   <p>
                    WRLD is free to use, you don't need any coding or design skills to create a portfolio website. You can also integrate your social media accounts.</p> <br>
                    <p>
                    WRLD is the easiest and fastest way to create a portfolio website that showcases your work and talent, see for yourself how WRLD can help you create a portfolio website that stands out from the crowd.</p>
            </div>
            <div class="card-container" style="">
                <div class="card">
                  <img src="data:image/jpg;base64," alt="Card Image 1" />
                  <div class="card-content">
                    <h2>{{info.url}}</h2>
                    <h3> {{info.email}} </h3>
                    <p class="card-description">Goa is one of the most favorite destination among Indian tourists due to its pristine beaches.The incredible coastline of more than 100 km offers beautiful views and serenity where tourists enjoy and relax in the Sun.</p>
                    <button class="show-more" onclick=" window.location.href ='/location2.html'">Visit</button>
                  </div>
                </div>
                <div class="card">
                    <img src="../static/media/card4.jpg" alt="Card Image 4" />
                    <div class="card-content">
                      <h2>Prambanan Temple</h2>
                      <h3>Indonesia</h3>
                      <p class="card-description">3. 9th century Prambanan Temple in Indonesia decorated with reliefs illustrating the epic of the Ramayana.The Prambanan temple is the largest Hindu temple of ancient Java, and the first building was completed in the mid-9th century.</p>
                      <button class="show-more" onclick=" window.location.href ='/location1.html'" >Show More</button>
                    </div>
                  </div>
                
                <div class="card">
                  <img src="../static/media/card3.jpg" alt="Card Image 3" />
                  <div class="card-content">
                    <h2>Devkund Waterfall </h2>
                    <h3>Raigad Maharashtra</h3>
                    <p class="card-description">Devkund Waterfall is a waterfall located near Bhira, in Raigad district, Maharastra, India. It is a 'plunge' waterfall pouring massive amounts of water on the rocky surface underneath. It is a popular spot for one day picnics.</p>
                    <button class="show-more" onclick=" window.location.href ='/location3.html'" >Show More</button>
                  </div>
                </div>
                <div class="card">
                    <img src="../static/media/card2.jpg" alt="Card Image 2" />
                    <div class="card-content">
                      <h2>Tanah Lot Temple</h2>
                      <h3>Bali, Indonesia</h3>
                      <p class="card-description">Situated on a beautiful offshore rock,  It is home to the ancient Hindu pilgrimage temple Pura Tanah Lot, One of the most famous Hindu Temples in Bali, Indonesia and probably the most photographed around the World !!</p>
                      <button class="show-more" onclick=" window.location.href ='/location4.html'" >Show More</button>
                    </div>
                  </div>

            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="about-container">
                <div class="line">
                    <h2 class="design"></h2>
                    <span class="heading">WHO ARE WE</span>
                </div>
                <span class="heading2">Unforgettable Digital Experiences | <br><span class="heading2" id="change"></span>
                </span>
                <p>Go beyond the normal imagenation and Discover our authentic Portfolio Designs, Styles and explore the digital world for real.</p>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="title">
                        <span>1</span>
                        <h2>T H E . W R L D</h2>
                    </div>
                    <p>This project Is focused on developing a platform which will facilitate creation of 
                        Portfolio website. Our project aims to address this need of users to create a 
                        portfolio website to present their skills and things that they have achieved 
                        during their career. This application will provide users with a safe and 
                        convenient platform for presenting themselves to the world, while ensuring 
                        that their data remains confidential and protected</p>

                    
                </div>
                
                <div class="card">
                    <div class="title">
                        <span>2</span>
                        <h2>Data Safety</h2>
                    </div>
                    <p>The data entered by the users on our website is completely safe and secure. We do not share your data with any third parties without your consent. Your data is managed by our database team which take utmost care while handling your critical data.</p>
                    <p>Spam emails and messages are strictly prohibited.</p>
                </div>

                <div class="card">
                    <div class="title">
                        <span>3</span>
                        <h2>Dynamic information</h2>
                    </div>
                    <p>Our site saves user data in our database and then Dynamically access it and present it on site .</p>
                    <p>

                    </p>
                    
                </div>
                
                
                <div class="card">
                    <div class="title">
                        <span>4</span>
                        <h2>Ease of use </h2>
                    </div>
                    <p>Our site helps the user by providing a userfriendly interface, accerate & easy experience. </p>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </section>

   

    <section id="contact">
        <div class="container">
            <div class="contact-container">
                <div class="line">
                    <h2 class="design"></h2>
                    <span class="heading">GET IN TOUCH</span>
                </div>
                <span class="heading2">Get in touch for more information or ask questions via following Email & links.
                    <br> Let's make your dream a reality in this journey.</span>
                    <button class="" onclick=" window.location.href ='/form'" >Submit a Feedback</button>
                    
            </div>
            <div class="email-container">
                <div class="line">
                    <h2 class="design"></h2>
                </div>
                <a href="mailto:swap9l999@gmail.com"> swap9l999@gmail.com</a>
                <span>+91 845972XXXX / +91 69420XXXXX</span>
            </div>
            <div class="socials-container">
                <div class="address">
                    <div class="line">
                        <h2 class="design"></h2>
                        <span class="heading">WHERE TO FIND US</span>
                    </div>
                    <span class="heading2">MH09 aka. Kolhapur, Maharashtra, India</span>
                </div>
                <div class="sites">
                    <div class="line">
                        <h2 class="design"></h2>
                        <span class="heading">FOLLOW US</span>
                    </div>
                    <div class="links">
                        <a href="https://wa.me/9359478605" target="_blank">
                            <img src="../static/media/wp.png" alt="Whats app icon">
                        </a>
                        <a href="https://www.instagram.com/swapnil_.23/" target="_blank">
                            <img src="../static/media/ig.png" alt="Instagram icon">
                        </a>
                        <a href="https://t.me/+eBVDYgzfoCY3M2Zl" target="_blank">
                            <img src="../static/media/tg.png" alt="Telegram icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <span>Copyright ©2023 W R L D   All rights reserved | This website is made by a Team in BCA III </span>
    </footer>

    <script src="../static/script.js"></script>

</body>

</html>
